{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $page := .}}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l mw8 center ph3 flex-wrap justify-between">
    <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | compare.Default "serif"}} f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }} {{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "pl4-l" "pr4-l" }} w-100">
      {{- .Content -}}
      {{- partials.Include "tags.html" . -}}
      <div class="mt6 instapaper_ignoref">
      {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partials.Include "commento.html" . -}}
      {{ end }}
      </div>
    </div>

  </article>
{{ end }}
